@font-face {
    font-family: "Source Sans Pro";
    src: url("../fonts/SourceSansPro-Light.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "Source Sans Pro";
    src: url("../fonts/SourceSansPro-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Source Sans Pro";
    src: url("../fonts/SourceSansPro-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
.topcoat-button,
.topcoat-button--quiet,
.topcoat-button--large,
.topcoat-button--large--quiet,
.topcoat-button--cta,
.topcoat-button--large--cta {
    position: relative;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    background-clip: padding-box;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    background: transparent;
    border: none;
    user-select: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 1.25rem;
    font-size: 16px;
    line-height: 3rem;
    letter-spacing: 1px;
    color: #454545;
    text-shadow: 0 1px #fff;
    vertical-align: top;
    background-color: #e5e9e8;
    box-shadow: inset 0 1px #fff;
    border: 1px solid #a5a8a8;
    border-radius: 6px;
}
.topcoat-button:active,
.topcoat-button.is-active,
.topcoat-button--large:active,
.topcoat-button--large.is-active {
    background-color: #d3d7d7;
    box-shadow: inset 0 1px rgba(0,0,0,0.12);
}
.topcoat-button:disabled,
.topcoat-button.is-disabled {
    opacity: .3;
    cursor: default;
    pointer-events: none;
}
.topcoat-button--quiet {
    background: transparent;
    border: 1px solid transparent;
    box-shadow: none;
}
.topcoat-button--quiet:active,
.topcoat-button--quiet.is-active,
.topcoat-button--large--quiet:active,
.topcoat-button--large--quiet.is-active {
    color: #454545;
    text-shadow: 0 1px #fff;
    background-color: #d3d7d7;
    border: 1px solid #a5a8a8;
    box-shadow: inset 0 1px rgba(0,0,0,0.12);
}
.topcoat-button--quiet:disabled,
.topcoat-button--quiet.is-disabled {
    opacity: .3;
    cursor: default;
    pointer-events: none;
}
.topcoat-button--large,
.topcoat-button--large--quiet {
    font-size: 1.3rem;
    line-height: 4rem;
}
.topcoat-button--large:disabled,
.topcoat-button--large.is-disabled {
    opacity: .3;
    cursor: default;
    pointer-events: none;
}
.topcoat-button--large--quiet {
    background: transparent;
    border: 1px solid transparent;
    box-shadow: none;
}
.topcoat-button--large--quiet:disabled,
.topcoat-button--large--quiet.is-disabled {
    opacity: .3;
    cursor: default;
    pointer-events: none;
}
.topcoat-button--cta,
.topcoat-button--large--cta,
.topcoat-button--cta:hover {
    border: 1px solid #143250;
    background-color: #288edf;
    box-shadow: inset 0 1px rgba(255,255,255,0.36);
    color: #fff;
    font-weight: 500;
    text-shadow: 0 -1px rgba(0,0,0,0.36);
}
.topcoat-button--cta:hover { background-color: #2f9cf3 }
.topcoat-button--cta:active,
.topcoat-button--cta.is-active,
.topcoat-button--large--cta:active,
.topcoat-button--large--cta.is-active {
    background-color: #0380e8;
    box-shadow: inset 0 1px rgba(0,0,0,0.12);
}
.topcoat-button--cta:disabled,
.topcoat-button--cta.is-disabled {
    opacity: .3;
    cursor: default;
    pointer-events: none;
}
.topcoat-button--large--cta {
    font-size: 1.3rem;
    line-height: 4rem;
}
.topcoat-button--large-cta:disabled,
.topcoat-button--large--cta.is-disabled {
    opacity: .3;
    cursor: default;
    pointer-events: none;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizeing: border-box;
    box-sizing: border-box;
}
html { height: 100% }
body {
    font-family: "Source Sans Pro","source-sans-pro","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 100;
    color: #666;
    font-size: 16px;
    line-height: 1.375em;
    background: #fff;
    -webkit-text-size-adjust: 100%;
    min-height: 100%;
    box-sizing: border-box;
    padding-bottom: 120px;
    position: relative;
}
a {
    color: #308dde;
    text-decoration: none;
}
a:hover { color: #065cbb }
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
    font-style: normal;
}
h1,
h2,
h3,
h4,
header p { text-rendering: optimizeLegibility; }
header h1 a {
  background: url(../img/dat-small.png) no-repeat 4px 6px;
  background-size: 50px 58px;
  line-height: 50px;
  padding-top: 4px;
  padding-left: 65px;
}
h1,
h1 a {
    color: #464646;
    font-size: 1.75em;
    line-height: .6em;
    letter-spacing: -.065em;
    font-weight: 600;
}
h3 {
    font-size: 1.6em;
    font-weight: 300;
    color: #464646;
}
#wrapper {
    max-width: 1036px;
    padding: 40px 40px 0;
    margin: 0 auto;
}
header { position: relative }
header p {
    color: #999;
    margin-left: 5px;
    margin-top: 12px;
}
nav ul,
footer ul,
.features ul,
#hero ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li,
.features ul li { float: left }
nav ul li { margin: 0 0 0 20px }
nav ul li a { padding: 2px 4px }
nav ul {
    position: absolute;
    top: 9px;
    right: 0;
}
nav ul li a {
    color: #7f7f7f;
    font-size: 1.3em;
    line-height: 3rem;
}
nav ul li a.download { color: #1e8fe0 }
h1 a:hover,
nav ul li a:hover { color: #000 }
#hero {
    display: block;
    max-width: 100%;
    height: 310px;
    margin: 40px 0 40px;
    background: transparent url("../img/hero-devices.png") right 50% no-repeat;
    background-size: contain;
}
#hero ul li,
#hero ul li a {
    display: block;
    height: 310px;
    text-align: center;
}
#hero ul li { float: left }
#hero ul li#desktop-preview { width: 56% }
#hero ul li#mobile-preview { width: 44% }
#hero ul li a { width: 100% }
#hero ul li .popover {
    top: -20px;
    opacity: 0;
    -moz-transition-property: opacity,top;
    -moz-transition-duration: .14s;
    -moz-transition-timing-function: ease-out;
    -webkit-transition-property: opacity,top;
    -webkit-transition-duration: .14s;
    -webkit-transition-timing-function: ease-out;
}
#hero ul li:hover .popover {
    top: -34px;
    opacity: 1;
}
.features ul li {
    width: 50%;
    display: block;
    padding-bottom: 50px;
}
.features ul li p { padding: 0 55px 0 0 }
.features ul li#performance a.vignette { background-image: url("../img/vignette-performance.svg") }
.features ul li#components a.vignette { background-image: url("../img/tnl-components.png") }
.features ul li#themes a.vignette { background-image: url("../img/tnl-themes.png") }
.features ul li#bem a.vignette { background-image: url("../img/tnl-bem.svg") }
.features ul li#source-sans a.vignette { background-image: url("../img/tnl-source-sans.svg") }
.features ul li#icons a.vignette { background-image: url("../img/tnl-icons.svg") }
.features ul li#design a.vignette { background-image: url("../img/tnl-design.png") }
.features ul li a.vignette {
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 30px 30px 0;
    float: left;
    background-repeat: no-repeat;
    background-size: cover;
}
.features ul li a.vignette,
#default-theme {
    background-color: #f9f9f9;
    outline: solid 1px #eee;
}
#default-theme {
    clear: left;
    width: 100%;
    height: 226px;
    margin-bottom: 80px;
    overflow: hidden;
}
#default-theme img {
    width: 1036px;
    height: 226px;
}
footer.site {
    position: absolute;
    bottom: 40px;
    width: 100%;
    left: 0;
}
footer.site ul {
    max-width: 500px;
    min-width: 320px;
    margin: 0 auto;
}
footer.site ul li {
    float: left;
    width: 50%;
    margin: 0;
    text-align: center;
}
footer.site ul li a {
    display: block;
    width: 100%;
    height: 44px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    background-position: 50% 50%;
}
footer.site ul li#twitter a { background-image: url("../img/icn-twitter.png") }
footer.site ul li#github a { background-image: url("../img/icn-github.png") }
.popover {
    position: relative;
    margin: 0 auto;
    display: block;
    border: 1px solid rgba(0,0,0,0.35);
    border-radius: 5px;
    background: #dfe2e2;
    box-shadow: 0 9px 18px 0 rgba(0,0,0,0.48),inset 0 0 0 1px rgba(255,255,255,0.75);
    width: 200px;
}
.popover .arrow,
.popover .top-arrow,
.popover .bottom-arrow,
.popover .left-arrow,
.popover .right-arrow {
    position: absolute;
    top: 0;
    width: 30px;
    height: 14px;
    background: -webkit-image-set(url("../img/popover_arrow.png") 1x,url("../img/popover_arrow@2x.png") 2x);
}
.popover .top-arrow {
    top: 0;
    left: 47%;
    margin: -13px 0 0 0;
}
.popover .bottom-arrow {
    top: 100%;
    left: 47%;
    margin: -1px 0 0 0;
    -webkit-transform: rotate(180deg);
}
.popover .left-arrow {
    top: 40%;
    left: -21px;
    margin: 0;
    -webkit-transform: rotate(-90deg);
}
.popover .right-arrow {
    top: 38%;
    left: 97%;
    margin: 0;
    -webkit-transform: rotate(90deg);
}
.popover .content { padding: 15px }
@media screen and (max-width: 1000px) and (min-width: 522px) {
    nav { position: relative }
    nav ul {
        margin: 0 auto;
        position: relative;
        text-align: center;
        height: auto;
    }
    #wrapper > header { text-align: center }
    nav ul li {
        display: inline-block;
        margin: 0 25px;
        float: none;
    }
    li.download { display: none }
    #hero { margin: 10px 0 40px }
}
@media screen and (max-width: 550px) {
    #wrapper { padding: 40px 0 }
    #wrapper > header { text-align: center }
    #hero { margin-top: 10px; margin-bottom: 10px;}
    #hero ul li { height: 205px }
    #hero ul li#desktop-preview { width: 66% }
    #hero ul li#mobile-preview { width: 34% }
    #wrapper > header h1,
    #wrapper > header p { display: block }
    nav,
    .git-ribbon,
    #hero ul li .popover { display: none }
    .features p {
      margin: 10px 20px;
    }
    .features ul li h3 {
        line-height: 1.2em;
        margin: 0;
    }
    .features ul li {
        display: block;
        float: none;
        width: 100%;
        clear: left;
        padding: 20px;
    }
    .features ul li p {
        padding: 0;
        width: 60%;
        float: left;
        margin-bottom: 55px;
    }
    .features ul li a.vignette {
        width: 80px;
        height: 80px;
    }
}
section { margin-top: 40px; }
section#content { margin-top: 80px }
section#content article {
    font-size: 18px;
    font-weight: 200;
    line-height: 180%;
    border-bottom: 1px solid #eaeaea;
    max-width: 940px;
    box-sizing: border-box;
    padding: 0 60px 50px;
    margin-bottom: 40px;
}
section#content article img {
    width: 100%;
    height: auto;
}
section#content article footer {
    float: none;
    clear: both;
    height: auto;
}
section#content article h2 {
    font-weight: 100;
    font-size: 37px;
    letter-spacing: -2px;
    margin-bottom: 28px;
}
section#content article h2 a { color: #373435 }
section#content article p { margin: 20px 0 }
section#content article .published {
    font-size: 16px;
    color: #a7a7a7;
}
#disqus_thread {
    box-sizing: border-box;
    padding: 0 20px 60px;
    width: 100%;
}
iframe.video {
    max-width: 480px;
    width: 100%;
    position: relative;
    margin: 20px auto;
    height: 360px;
    display: block;
}
@media screen and (max-width: 522px) {
    section#content article { padding: 0 30px 30px }
}
#content.narrow { max-width: 500px }
label.control-label {
    display: inline-block;
    width: 120px;
    text-align: right;
    margin-right: 10px;
}
.control-group { margin-bottom: 10px }
.control-group.submit { margin: 20px 132px 0 }
form {
    border: 1px solid #ccc;
    padding: 10px;
}
.error label {
    color: #f00;
    font-weight: bold;
}
#required {
    padding-bottom: 5px;
    color: #f00;
    font-weight: bold;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after { clear: both }
.clearfix { *zoom: 1 }
#sticker {
    display: block;
    max-width: 100%;
    margin: 40px 0 40px;
    background-size: contain;
}
.sticker-photo {
    width: 100%;
}