body {
  margin: 0px;
  overflow: hidden;
}
.hidden { display: none; }
.share:before { content: none !important;}
.share { width: 225px; }
.colorAdd { width: 18px; height: 16px; display: block; }
.color { width: 18px; height: 16px; display: block; }
.demo-text-box { margin-right: 24px; }
.demo-panel-title { margin-bottom: 10px !important; padding-top: 10px !important; }
#instructions { width: 250px; position: absolute; top: 0px; right: 0px; }
.instructions { background: white; border: 2px solid #1abc9c; border-radius: 6px; padding: 6px 1px 1px 6px; overflow-y: auto; text-align: left;}
.actionsMenu { width: 224px; }
.sliderContainer { width: 215px; margin-left: 7px; }
.pagination ul > li.previous > a { margin-right: 4px !important; }
.pagination ul > li.next > a { margin-left: 4px !important; }
.pagination { margin: 0 0 10px 0 !important; }
.ui-slider-segment { margin: 3px -6px 0 33% !important; }
.tile.controls p { margin: 0 0 5px 0 !important; text-align: left; }
#welcome .hello { margin-left: 35px !important; }
.share .tile-image.big-illustration { margin: 10px 0; }
.share p { margin-bottom: 10px !important; }
.voxel-share img { height: 300px; }
.voxel-share textarea { display: none; }

#browse .demo-browser-content { background-color: transparent; }
#browse .demo-browser-content img { border: 1px solid #7F8B97; }

.color-picker {white-space:normal;}

.btn-group > .btn {border-radius:4px; margin-right:2px; margin-left:0; margin-top:1px;}
.btn-group > .btn + .btn {margin-left:0;}
